@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
}

.signupSection {
  background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.info {
  width: 45%;
  background: rgba(20, 20, 20, .8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, .8);
  h2 {
    padding-top: 30px;
    font-weight: 300;
  }
  p {
    font-size: 18px;
  }
  .icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgba(10, 180, 180, 1);
  }
}

.signupForm {
  width: 70%;
  padding: 30px 0;
  background: rgba(20, 40, 40, .8);
  transition: .2s;
  h2 {
    font-weight: 300;
  }
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.grid:after {
  content: "";
  display: table;
  clear: both;
}

.srt,
.form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.panel--centered,
.panel--padded--centered,
[class^="btn--"] {
  text-align: center;
}

[class^="progbar__"]:after,
.icn--nav-toggle:before {
  display: block;
  content: '';
  position: absolute;
}

.centered,
.grid {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding-top: 2.5em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #797e83;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h3 {
  font-size: 1.125em;
}

h4 {
  margin-top: 1.375em;
  margin-bottom: 2.57143em;
  color: #d6d7d9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.875em;
}

@media (min-width: 769px) {
  h4 {
    margin-top: 2.625em;
  }
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400;
}

p {
  margin: .8em 0;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.5;
}

blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 1.25em;
}

@media (min-width: 769px) {
  blockquote {
    margin: 1.33333em 0;
    padding: 0 0 0 5%;
    border-left: 0.33333em solid #ebecec;
    font-size: 1.5em;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  margin-bottom: 1.5em;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0;
}

input:focus,
textarea:focus {
  transition: 0.3s;
}

button {
  outline: 0;
}

footer {
  border-top: 1px solid #ebecec;
  margin-top: 1.375em;
}

footer p {
  font-size: 1em;
  margin-top: 1.375em;
}

.panel,
.panel--centered {
  padding-top: 1.875em;
}

@media (min-width: 769px) {
  .panel, .panel--centered {
    padding-bottom: 1.25em;
  }
}

.panel--padded,
.panel--padded--centered {
  padding-top: 2.125em;
}

@media (min-width: 769px) {
  .panel--padded, .panel--padded--centered {
    padding-top: 5em;
    padding-bottom: 2.125em;
  }
}

.grid {
  width: 90%;
}

[class*="grid__col--"] > .grid {
  width: 100%;
}

@media (min-width: 1100px) {
  .grid {
    max-width: 1050px;
  }
}

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%;
  }
  .grid__col--2 {
    width: 15%;
  }
  .grid__col--3 {
    width: 23.5%;
  }
  .grid__col--4 {
    width: 32%;
  }
  .grid__col--5 {
    width: 40.5%;
  }
  .grid__col--6 {
    width: 49%;
  }
  .grid__col--7 {
    width: 57.5%;
  }
  .grid__col--8 {
    width: 66%;
  }
  .grid__col--9 {
    width: 74.5%;
  }
  .grid__col--10 {
    width: 83%;
  }
  .grid__col--11 {
    width: 91.5%;
  }
  .grid__col--12 {
    width: 100%;
  }
}

@media (min-width: 1px) and (max-width: 768px) {
  [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
}

@media (min-width: 769px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  [class^="grid__col--"] + [class^="grid__col--"] {
    margin-left: 2%;
  }
  [class^="grid__col--"]:last-of-type {
    float: right;
  }
}

.theme__poly .grid [class*="grid__col"] {
  font-weight: 100;
  margin-bottom: 1em;
  padding: 1.75%;
}

@media (min-width: 769px) {
  .nav__item, .nav__item--current {
    display: inline-block;
    margin: 0 0.625em;
  }
}

.nav__item--current a,
.nav__item a {
  font-weight: 300;
  text-align: center;
  font-size: 1.125em;
  display: block;
  padding: 0.4em;
  border-bottom: 1px solid transparent;
}

@media (min-width: 1px) and (max-width: 768px) {
  .nav__item--current a, .nav__item a {
    border-bottom-color: #ebecec;
    padding-top: 0.77778em;
    padding-bottom: 0.77778em;
  }
}
